/*-------------- background images ---------------*/
body {
  background-color: rgb(219, 207, 181);
}

/* ----------------headers / fonts---------------- */
.intro {
  font-size: 52px;
  font-family: "Bungee Shade", cursive;
}

.subIntro {
  font-size: 44px;
  font-family: 'Calistoga', cursive;
}

/* -----------------displays------------------- */

.App {
  text-align: center;
}

#link-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
}

/* --------------photos--------------------- */

#photo-of-me {
  height: 600px;
  width: 600px;
  padding-bottom: 25px;
}
