/*-------------- background ---------------*/
body {
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(247, 238, 220); */
}

/* -------------------Nav------------------------ */
#nav {
  display: flex;
  justify-content: space-around;
  font-family: "Inconsolata", monospace;
  background-color: rgb(246, 243, 247);
  padding: 10px;
}

/* ----------------headers / fonts---------------- */
.intro {
  font-size: 42px;
  font-family: "Bungee Shade", cursive;
}

.subIntro {
  font-size: 34px;
  font-family: "Calistoga", cursive;
}

/* -----------------displays------------------- */

.App {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  text-align: center;
  /* height: 90vh; */
  padding-bottom: 45px;
}

#link-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
}

/* why doesn't this work? ------!!!!!!!!!!!!!!!!!!!!!!!*/
/* .external-links {
  box-shadow: slateblue;
}
.external-links:hover {
color:pink;
} */

/* --------------photos--------------------- */

#photo-of-me {
  height: 400px;
  width: 400px;
  padding-bottom: 25px;
}

/* --------------ABOUT PAGE---------------- */
#about-one {
  font-family: "Inconsolata", monospace;
  text-align: left;
  margin-left: 45px;
  opacity: 40%;
  padding-top: 100px;
}
#about-two {
  font-family: "Inconsolata", monospace;
  text-align: left;
  margin-left: 45px;
  opacity: 40%;
  padding-top: 25px;
}
#about-container {
  font-family: "Inconsolata", monospace;
  margin-left: 75px;
  margin-right: 30px;
}

#hobbies-container {
  font-family: "Inconsolata", monospace;
  margin-left: 75px;
  margin-right: 30px;
}

/* ---------------------Projects Page----------------- */
#projects-container {
  font-family: "Inconsolata", monospace;
  /* height: 75vh; */
}

#projects-one {
  font-family: "Inconsolata", monospace;
  text-align: left;
  margin-left: 45px;
  opacity: 40%;
  padding-top: 100px;
  height: 50%;
}
#projects-two {
  font-family: "Inconsolata", monospace;
  text-align: left;
  margin-left: 45px;
  opacity: 40%;
  padding-top: 25px;
  height: 50%;
}

/* ----------------contact page----------------- */
#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
  font-family: "Inconsolata", monospace;
}

#contact-one {
  font-family: "Inconsolata", monospace;
  text-align: left;
  margin-left: 45px;
  opacity: 40%;
  padding-top: 100px;
}
#contact-two {
  font-family: "Inconsolata", monospace;
  text-align: left;
  margin-left: 45px;
  opacity: 40%;
  padding-top: 25px;
}

/* -----------resume----------- */
#resume {
  padding-top: 45px;
  font-family: "Inconsolata", monospace;
  text-decoration: none;
}

/* ------------footer------------- */

/* how do i make this sticky at bottom of page? */
#footer {
  display: flex;
  /* if i want them to be stacked make it a column */
  justify-content: space-around;
  align-items: flex-end;
  bottom: 0;
  width: calc(100vw - 40px);
  padding: 20px;
  height: 50px;
}
