/*-------------- background images ---------------*/
body {
  background-image: url("https://images.unsplash.com/photo-1541450805268-4822a3a774ca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
}

/* ----------------headers / fonts---------------- */
.intro {
  font-size: 52px;
  font-family: "Bungee Shade", cursive;
}

.subIntro {
  font-size: 44px;
  font-family: 'Calistoga', cursive;
}

/* -----------------displays------------------- */

.App {
  text-align: center;
}
