/*-------------- background ---------------*/
body {
  background-color: rgb(219, 207, 181);
}

/* -------------------Nav------------------------ */
#nav {
  display: flex;
  justify-content: space-around;
  font-family: 'Inconsolata', monospace;
}

/* ----------------headers / fonts---------------- */
.intro {
  font-size: 52px;
  font-family: "Bungee Shade", cursive;
}

.subIntro {
  font-size: 44px;
  font-family: 'Calistoga', cursive;
}

/* -----------------displays------------------- */

.App {
  text-align: center;
}

#link-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
}

#contact-info {
  display: flex;
  justify-content: space-around;
}

/* --------------photos--------------------- */

#photo-of-me {
  height: 600px;
  width: 600px;
  padding-bottom: 25px;
}

/* --------------ABOUT PAGE---------------- */
#about-one {
  font-family: 'Inconsolata', monospace;
  text-align: left;
  margin-left: 45px;;
  opacity: 40%;
  padding-top: 100px;
}
#about-two {
  font-family: 'Inconsolata', monospace;
  text-align: left;
  margin-left: 45px;;
  opacity: 40%;
  padding-top: 25px;
}
#about-container {
  font-family: 'Inconsolata', monospace;
  margin-left: 75px;
  margin-right: 30px;

}

#hobbies-container {
  font-family: 'Inconsolata', monospace;
  margin-left: 75px;
  margin-right: 30px;


}


/* ----------------contact page----------------- */
#contact-info {
  display:flex;
  margin-top: 25px;
  font-family: 'Calistoga', cursive;
}

#contact-left {
  display: flex;
  text-align: left;
  float: left;
  width: 40%;
  flex-direction: column;
}

#contact-right {
  display: flex;
  text-align: right;
  float: right;
  width: 40%;
  flex-direction: column;
}





/* ------------footer------------- */

/* how do i make this sticky at bottom of page? */
#footer {
  display: flex;
  /* if i want them to be stacked make it a column */
  justify-content: space-around;
  align-items: flex-end;
  flex-shrink: 0;
  position: sticky;
  padding: 20px;
  padding-bottom: 25px;
  height: 50px;
}

