/*-------------- background ---------------*/
body {
  background-color: rgb(219, 207, 181);
}

/* -------------------Nav------------------------ */
#nav {
  display: flex;
  justify-content: space-around;
  font-family:'Courier New', Courier, monospace;
}

/* ----------------headers / fonts---------------- */
.intro {
  font-size: 52px;
  font-family: "Bungee Shade", cursive;
}

.subIntro {
  font-size: 44px;
  font-family: 'Calistoga', cursive;
}

/* -----------------displays------------------- */

.App {
  text-align: center;
}

#link-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
}

#contact-info {
  display: flex;
  justify-content: space-around;
}

/* --------------photos--------------------- */

#photo-of-me {
  height: 600px;
  width: 600px;
  padding-bottom: 25px;
}

/* ------------footer------------- */

/* how do i make this sticky at bottom of page? */
#footer {
  display: flex;
  /* if i want them to be stacked make it a column */
  justify-content: space-around;
  align-items: flex-end;
  flex-shrink: 0;
  position: sticky;
  padding: 20px;
  padding-bottom: 25px;
}

